Screen {
    background: #0b0e14;
}

Header {
    background: #111722;
    color: #aab5c8;
}

Footer {
    background: #111722;
    color: #aab5c8;
}

#main-viewport {
    width: 100%;
    height: 1fr;
    padding-bottom: 0;
}

#chat-viewport {
    width: 100%;
    height: 1fr;
    min-height: 5;
    padding: 1;
    background: #0b0e14;
    color: #aab5c8;
    /* Aligned top-left instead of center middle */
    align: left top;
}

#input-area {
    width: 96%;
    height: 3;
    margin: 1 2;
    background: #111722;
    border: round #414d63;
}
